# default test values
# ALLOURIDEAS_HOST=localhost:3001
# API_HOST=http://aoi_pairwise_rails:3000
# PAIRWISE_USERNAME=pairwisetest@dkapadia.com
# PAIRWISE_PASSWORD=wheatthins
# IP_ADDR_HASH_SALT=2039d9ds9ufsdioh2394230
# SURVEY_SESSION_SECRET=5SpE)5m?>+W:QvPY:Q!_b@*fe&h~I8_}=wi[rgPu^QhQt/e7~]X_bBLuki(;wrj
# BASE_SESSION_SECRET=wza#ct^l9^2^=i-_8i1bokg8foe3r$1)q*^r
# MYSQL_ROOT_PASSWORD=123456
# RAILS_DB_PASSWORD=123456

MYSQL_ROOT_PASSWORD=change-me

ALLOURIDEAS_HOST=change-me
API_HOST=change-me


# set to same value as MYSQL_ROOT_PASSWORD
RAILS_DB_PASSWORD=change-me

# Pairwise user created via cli
PAIRWISE_USERNAME=change-me
PAIRWISE_PASSWORD=change-me

IP_ADDR_HASH_SALT=change-me
SURVEY_SESSION_SECRET=change-me
BASE_SESSION_SECRET=change-me
